{#
/**
 * @file ad_inserter.html.twig
 * Default theme implementation to present Ad Inserter data.
 *
 * This template is used when viewing Ad Inserter pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - title_suffix: Additional output populated by modules.
 *
 * @see template_preprocess_ad_inserter()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('ad-inserter') }}>
  {{ content }}
</div>
